@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.voidImg {
  width: 20%;
}

.banner {
  width: 60%;
}

@media only screen and (max-width: 575px) and (min-width: 0px) {
  .banner {
    width: 100% !important;
  }
  .voidImg {
    width: 40% !important;
  }
}
